<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4e8df5;">
    <div class="container-fluid">
        <img src="{{ imageUrl }}" alt="Logo" height="30" class="me-2">
        <a class="navbar-brand" href="/main/listado-pedidos" i18n>Portal Pedidos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main/listado-pedidos" i18n>PEDIDOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main/listado-proveedores" routerLinkActive="active" i18n>PROVEEDORES</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="main/login" i18n>CERRAR SESIÓN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<!-- Botón "Volver al listado de proveedores" -->
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-secondary" routerLink="/main/listado-proveedores" i18n>
                <i class="fas fa-arrow-left me-2"></i> Volver al listado de proveedores
            </button>
        </div>
    </div>
</div>


<!-- Botón flotante para registrar proveedor -->
<button *ngIf="mostrarRegistrarProveedor" class="btn btn-success btn-float" (click)="registrarProveedor()" i18n>Registrar Proveedor</button>

<div class="container mt-5">
    <h2 class="text-center mb-4" i18n>Alta Proveedor</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mb-4">
        <div class="mb-3">
            <label for="nombre_url" class="form-label" i18n>URL</label>
            <input type="text" id="nombre_url" class="form-control" formControlName="nombre_url">
            <div *ngIf="form.get('nombre_url')!.invalid && form.get('nombre_url')!.touched" class="text-danger" i18n>
                URL es requerido.
            </div>
        </div>
        <div class="mb-3">
            <label for="token" class="form-label">TOKEN</label>
            <input type="text" id="token" class="form-control" formControlName="token">
            <div *ngIf="form.get('token')!.invalid && form.get('token')!.touched" class="text-danger" i18n>
                TOKEN es requerido.
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid" i18n>Enviar</button>
    </form>
    
    <div *ngIf="mensajeError" class="alert alert-danger">
        {{ mensajeError }}
    </div>

    <div *ngIf="configuracion.nombre" class="mb-4">
        <h3 i18n>Configuración</h3>
        <p i18n><strong>Nombre URL:</strong> {{ configuracion.nombre_url }}</p>
        <p i18n><strong>Nombre:</strong> {{ configuracion.nombre }}</p>
        <p i18n><strong>Teléfono:</strong> {{ configuracion.cuil }}</p>
        <p i18n><strong>Email:</strong> {{ configuracion.mail }}</p>
        <p i18n><strong>Token:</strong> {{ configuracion.token }}</p>
    </div>

    <div *ngIf="ranking.length > 0" class="mb-4">
        <h3 i18n>Ranking</h3>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th i18n>Evaluación</th>
                    <th i18n>Ponderación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ranking; let i = index">
                    <td>{{ item.evaluacion }}</td>
                    <td>
                        <form [formGroup]="formRanking[i]" class="mb-3">
                            <select class="form-select" formControlName="ponderacion" [(ngModel)]="item.ponderacion">
                                <option *ngFor="let value of [0, 1, 2, 3, 4, 5]" [value]="value">{{ value }}</option>
                            </select>
                            <div *ngIf="formRanking[i].get('ponderacion')!.invalid && formRanking[i].get('ponderacion')!.touched" class="text-danger" i18n>
                                La ponderación es requerida y debe estar entre 0 y 10.
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="productos.length > 0">
        <h3 i18n>Productos</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" i18n>Código de Barra</th>
                        <th scope="col" i18n>Nombre</th>
                        <th scope="col" i18n>Precio</th>
                        <th scope="col" i18n>Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{ producto.codigo_barra }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td class="card-text" style="color: #000; font-weight: bold;">
                          {{ producto.precio | currency:'USD':'symbol':'1.2-2' }}
                        </td>
                        <td>
                            <img [src]="obtenerImagenBase64(producto.imagen_contenido)" class="img-thumbnail miniatura-imagen" alt="Imagen del Producto">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
