<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card shadow-lg"> <!-- Agregamos una tarjeta con sombra para el efecto visual -->
                <div class="card-body p-5">
                    <h2 class="text-center mb-4" i18n>SUPERMERCADO</h2>
                    <h3 class="text-center mb-4" i18n>Login</h3>
					
                    <form [formGroup]="form" class="col-12" (ngSubmit)="loginUsuario()" invalidate>
                        <div class="form-group mb-3">
                            <label for="iusuario" class="form-label" i18n>Usuario</label>
                            <input type="text" id="iusuario" formControlName="usuario" class="form-control"
                                placeholder="Ingresa tu nombre" maxlength="255" i18n-placeholder="@@nombrePlaceholder">
                            <div class="text-danger mt-1" *ngIf="submitted && form.controls['usuario'].errors?.['required']" i18n>
                                Debes informar tu usuario.
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="iclave" class="form-label" i18n>Contraseña</label>
                            <input type="password" id="iclave" formControlName="clave" class="form-control"
                                placeholder="Ingresa una clave" maxlength="32" i18n-placeholder="@@contraseniaPlaceholder">
                            <div class="text-danger mt-1" *ngIf="submitted">
                                <ng-container *ngIf="form.controls['clave'].errors?.['required']" i18n>Debes informar tu contraseña.</ng-container>
                                <ng-container *ngIf="form.controls['clave']?.value.length < 6" i18n>Debes ingresar una contraseña de al menos 6 caracteres.</ng-container>
                            </div>
                        </div>

                        <div class="text-danger text-center" *ngIf="errorMessage">{{ errorMessage }}</div>

                        <div class="d-grid gap-2 d-md-block text-center">
                            <button type="submit" class="btn btn-success" i18n>Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
