.card {
    transition: transform 0.3s ease;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: auto;
    max-height: 200px; /* Ajusta la altura máxima de la imagen según sea necesario */
    object-fit: contain; /* Para asegurar que la imagen se ajuste dentro del contenedor */
  }


.card-header {
    border-radius: 10px 10px 0 0;
}