<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4e8df5;">
    <div class="container-fluid">
        <img src="{{ imageUrl }}" alt="Logo" height="30" class="me-2">
        <a class="navbar-brand" href="/main/listado-pedidos" i18n>Portal Pedidos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main/listado-pedidos" i18n>PEDIDOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main/listado-proveedores" routerLinkActive="active" i18n>PROVEEDORES</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="main/login" i18n>CERRAR SESIÓN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-12">
            <div style="font-size: 2em;">
                <h2 style="font-size: 1.5em; background-color: #f3f3f185; padding: 10px;" class="text-center mb-0" i18n>Proveedores</h2>
            </div>
            <div class="d-flex justify-content-start mt-3">
                <button class="btn btn-success btn-lg" routerLink="/main/alta-proveedor" i18n>
                    <i class="fas fa-plus"></i> Nuevo Proveedor
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th i18n>Nombre</th>
                            <th i18n>CUIL</th>
                            <th i18n>Email</th>
                            <th i18n>Puntaje</th>
                            <th i18n>Promedio demora (días)</th>
                            <th i18n>Total pedidos</th>
                            <th i18n>Total productos</th>
                            <th class="text-center" i18n>Habilitado</th>
                            <th class="text-center" i18n>Estadisticas</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proveedor of proveedores" class="align-items-start">
                            <td class="align-middle">{{ proveedor.nombre }}</td>
                            <td class="align-middle">{{ proveedor.cuil }}</td>
                            <td class="align-middle">{{ proveedor.mail }}</td>
                            <td class="circle" [style.background-color]="getCircleColor(proveedor.puntaje)"  style="margin: 30%;">{{ proveedor.puntaje | number:'1.1-1'}}</td>
                            <td class="align-middle text-center">{{ proveedor.promedio_dias_entrega | number:'1.2-2'}}</td>
                            <td class="align-middle text-center">{{ proveedor.total_pedidos }}</td>
                            <td class="align-middle text-center">{{ proveedor.total_productos }}</td>
                            <td class="align-middle d-flex justify-content-center">
                                <div class="form-check form-switch switch-lg">
                                    <input class="form-check-input" type="checkbox" [checked]="proveedor.habilitado" (change)="toggleHabilitado(proveedor)" [ngClass]="{'switch-on': proveedor.habilitado, 'switch-off': !proveedor.habilitado}">
                                </div>
                            </td>
                            <td class="align-middle text-center">
                                <button class="btn btn-info btn-sm" [routerLink]="['/main/proveedor_productos_y_ranking', proveedor.id_proveedor]" title="Ver Detalle">
                                    <i class="fas fa-search"></i>
                                </button>
                            </td> <!-- Nueva celda con el botón -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
